<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="55576" android:versionName="2.1.1" package="tuerantuer.app.integreat" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Integreat" android:largeHeap="true" android:theme="@style/MyTheme"></application>
</manifest>